# dotenv environment variables file
*.env

#######################################################################
# Project stuff from here
#######################################################################

.849C9593-D756-4E56-8D6E-42412F2A707B

#Don't want to send private keys to the repo
mykey.txt
nuget.exe
packages/
model.zip
*.dll
PredictAPI/obj/Debug/netcoreapp3.0/PredictAPI.csprojAssemblyReference.cache
data.tsv
PredictAPI/bin/Debug/netcoreapp3.0/PredictAPI.pdb
PredictAPI/obj/PredictAPI.csproj.nuget.cache
PredictAPI/obj/PredictAPI.csproj.nuget.dgspec.json
PredictAPI/obj/project.assets.json
PredictAPI/obj/Debug/netcoreapp3.0/PredictAPI.assets.cache
PredictAPI/obj/Debug/netcoreapp3.0/PredictAPI.csproj.FileListAbsolute.txt
PredictAPI/obj/Debug/netcoreapp3.0/PredictAPI.csprojAssemblyReference.cache
PredictAPI/obj/Debug/netcoreapp3.0/PredictAPI.pdb
PredictAPI/obj/Debug/netcoreapp3.0/project.razor.json
