# dotenv environment variables file
*.env

#######################################################################
# Project stuff from here
#######################################################################

.849C9593-D756-4E56-8D6E-42412F2A707B

#Don't want to send private keys to the repo
mykey.txt
nuget.exe
packages/
model.zip
*.dll
PredictAPI/obj/Debug/netcoreapp3.0/PredictAPI.csprojAssemblyReference.cache
